body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

h1 {
    color: #333;
    text-align: center;
    padding: 20px 0;
}

h2 {
    color: #666;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    text-align: center; /* Centra el nombre de la categoría */
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    margin: 20px 0;
}

h3 {
    color: #888;
    margin-top: 10px;
}

p {
    color: #999;
}

div {
    margin-bottom: 20px;
}

.ng-template {
    color: #aaa;
    font-style: italic;
}
