<mat-toolbar>
    <span>Crear Producto Nacional</span>
</mat-toolbar>
<mat-card style="margin-top: 10px;">Formulario de Producto
    <form [formGroup]="form_producto" (ngSubmit)="agregarNationalProd()" >
        
        <mat-grid-list cols="2" rowHeight="70px">
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-form-field class="ancho">
                    <mat-label>Fabricante</mat-label>
                    <input matInput type="text" autocomplete="off" formControlName="maker">
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-form-field class="ancho">
                    <mat-label>Precio de Compra</mat-label>
                    <input matInput type="number" autocomplete="off" formControlName="buyPrice">
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-form-field class="ancho">
                    <mat-label>Nombre del Producto</mat-label>
                    <input matInput type="text" autocomplete="off" formControlName="name">
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-form-field class="ancho">
                    <mat-label>Descripción</mat-label>
                    <input matInput type="text" autocomplete="off" formControlName="description">
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-form-field class="ancho">
                    <mat-label>Precio</mat-label>
                    <input matInput type="number" autocomplete="off" formControlName="price">
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-form-field class="ancho">
                    <mat-label>Peso</mat-label>
                    <input matInput type="number" autocomplete="off" formControlName="weight">
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-form-field class="ancho">
                    <mat-label>Stock</mat-label>
                    <input matInput type="number" autocomplete="off" formControlName="stock">
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-form-field class="ancho">
                    <mat-label>Fecha de Creación</mat-label>
                    <input matInput type="date" autocomplete="off" formControlName="createAt">
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-form-field class="ancho">
                    <mat-label>Fecha de Expiración</mat-label>
                    <input matInput type="date" autocomplete="off" formControlName="expireAt">
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-form-field class="ancho">
                    <mat-label>ID de Categoría</mat-label>
                    <input matInput type="number" autocomplete="off" formControlName="idCategory">
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2" [rowspan]="1" >
                <button mat-raised-button style="margin-right: 20px;">Volver</button>
                <button type="submit"  [disabled]="form_producto.invalid" mat-raised-button color="primary">Aceptar</button>
            </mat-grid-tile>
        </mat-grid-list>        
    </form>
</mat-card>
