<mat-toolbar>
    <span>Crear Venta</span>
</mat-toolbar>
<mat-card style="margin-top: 10px;">Formulario de Venta
    <form [formGroup]="form_venta" (ngSubmit)="agregarVenta()" >
        <mat-grid-list cols="2" rowHeight="70px">
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-form-field class="ancho">
                    <mat-label>Stock</mat-label>
                    <input matInput type="number" autocomplete="off" formControlName="stock">
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-form-field class="ancho">
                    <mat-label>Precio</mat-label>
                    <input matInput type="number" autocomplete="off" formControlName="price">
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-form-field class="ancho">
                    <mat-label>Fecha de Venta</mat-label>
                    <input matInput type="date" autocomplete="off" formControlName="dateSell">
                </mat-form-field>
            </mat-grid-tile>
            
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-form-field class="ancho">
                  <mat-label>Producto</mat-label>
                  <mat-select formControlName="idProduct">
                    <mat-option *ngFor="let product of products" [value]="product.product.idProduct">
                      {{product.product.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </mat-grid-tile>
              
            <mat-grid-tile [colspan]="2" [rowspan]="1" >
                <button mat-raised-button style="margin-right: 20px;">Volver</button>
                <button type="submit"  [disabled]="form_venta.invalid" mat-raised-button color="primary">Aceptar</button>
            </mat-grid-tile>
        </mat-grid-list>        
    </form>
</mat-card>
