<mat-toolbar>
    <span>Nacionales</span>
    <span class="example-spacer"></span>
    <button mat-raised-button color="primary" routerLink="/dashboard/national-prod/crear-prod">Add Product</button>
</mat-toolbar>

<mat-form-field appearance="fill">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input autocomplete="off">
</mat-form-field>

<table matSort mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="maker">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Maker </th>
        <td mat-cell *matCellDef="let element"> {{element.maker}} </td>
    </ng-container>
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.product.name}} </td>
    </ng-container>
    <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let element"> {{element.product.description}} </td>
    </ng-container>
    <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Price </th>
        <td mat-cell *matCellDef="let element"> {{element.product.price}} </td>
    </ng-container>
    <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef> Weight </th>
        <td mat-cell *matCellDef="let element"> {{element.product.weight}} </td>
    </ng-container>
    <ng-container matColumnDef="expireAt">
        <th mat-header-cell *matHeaderCellDef> Expiry Date </th>
        <td mat-cell *matCellDef="let element"> {{element.product.expireAt}} </td>
    </ng-container>
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element, let i = index" style="text-align: right;">
            <a class="pointer" style="color: #1878b0;" matTooltip="View Product Details">
                <mat-icon >search</mat-icon>
            </a>
            <a class="pointer" style="color: #1f516f;" matTooltip="Edit Product Details">
                <mat-icon >edit</mat-icon>
            </a>
            <a class="pointer" (click)="deleteProduct(i)" style="color: #e15639;" matTooltip="Delete Product">
                <mat-icon>delete</mat-icon>
            </a>
        </td>
    </ng-container>
    <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element, let i = index" style="text-align: right;">

            <a class="pointer" style="color: #1878b0;" matTooltip="Ver Datos Producto">
                <mat-icon >search</mat-icon>
            </a>
            <a class="pointer" style="color: #1f516f;" matTooltip="Editar Datos Producto">
                <mat-icon >edit</mat-icon>
            </a>
            <a class="pointer" (click)="deleteProduct(i)" style="color: #e15639;" matTooltip="EliminarProducto">
              <mat-icon>delete</mat-icon>
            </a>
    
      
        </td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of products"></mat-paginator>
